@media only screen and (max-width: 770px) {
	body{
	    background: #DDDDDD;
	    margin: 5% 2%;
		font-size: 16px;
		font-weight: 700;
		font-family: 'Lato', sans-serif;
	}
	.Leader{
		color: #495f83;
		font-size: 20px;
		font-weight: 700;
		font-family: 'Oswald', sans-serif;
	}
	.Leader2{
		color: #495f83;
		font-size: 20px;
		font-weight: 700;
		font-family: 'Oswald', sans-serif;
	}
	th,td { 
		display:block; width:100%; 
	}
}
@media only screen and (min-width: 771px){
	body{
	    background: #DDDDDD;
	    margin: 5% 15%;
		font-size: 20px;
		font-weight: 700;
		font-family: 'Lato', sans-serif;
	}
	.Leader{
		color: #495f83;
		font-size: 30px;
		font-weight: 700;
		font-family: 'Oswald', sans-serif;
	}
	.Leader2{
		color: #444;
		font-size: 30px;
		font-weight: 700;
		font-family: 'Oswald', sans-serif;
	}
}
p {
	margin-bottom: 5px;
}
footer {
	padding-top: 8%;
}

div.transbox {
	margin: 2%;
	background-color: #ffffff;
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}
div.transbox p {
	margin: 2%;
	padding: 5px;
}
table.spacing {
    border-collapse: separate;
    border-spacing: 50px;
}
dir.test{
    border-left:solid red 3px;
    border-right:solid violet 4px;
    border-top:solid blue 4px;
    border-bottom:solid green 4px;
    background:grey;
}
#footer { text-align: center; }
#footer ul { list-style: none; }
#footer ul li { display: inline; }
.Editorial{
	margin-bottom: 0 !important;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
.banner {
	max-width: 100% !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin: 0px 0px !important;
}
.font-1 {
	color: #495f83;
	font-weight: 900 !important;
}
.font-1:hover { 
	color: grey; 
	text-decoration: none !important;
	font-weight: 900 !important;
}
.font-2 {
	color: #444;
	font-weight: 900 !important;
}
.bg-1{ background:#495f83; }
.bg-2{background: #DDDDDD;}
.Button {
    background-color: #444;
    border: 0;
    display: inline;
    border-radius: 3px;
    color: #fff !important;
    letter-spacing: 2px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 110%;
    font-family: "Oswald", sans-serif;
}
.Button:hover{
	background-color: #495f83;
}
.navbar-toggle{ margin-top: 4%; } 
.NavLink {
    font-size: 20px;
    color: grey;
    font-family: "Oswald", sans-serif;
}
.NavLink:hover {
    font-size: 20px;
    color: #495f83;
    font-family: "Oswald", sans-serif;

}
.NavLink--current { color: #444; }
.NavName{
	color: #495f83;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}
.row{
	padding-top: 3%;
}
.projectPad{
	padding-top: 8%;
}
.NavStudent{
	color: grey;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}
.Footer {
	list-style: none;
    color: grey;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    text-decoration: none !important;
    padding-left: 1%;
    padding-right: 1%;
}
.Footer--current{
	list-style: none;
	color: #444;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    text-decoration: none !important;
    padding-left: 1%;
    padding-right: 1%;
}